<div class="container d-flex align-items-center justify-content-center faq">
  <div class="row h-50 w-100 m-5 p-5 rounded-sm shadow-lg text-white">
    <div class="col-sm-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action text-white bg-primary active" id="list-home-list"
           data-toggle="list"
           href="#list-home" role="tab" aria-controls="home">How does your service work ?</a>
        <a class="list-group-item list-group-item-action text-white bg-primary" id="list-profile-list"
           data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">How to be sure you will not
          steal my account ?</a>
        <a class="list-group-item list-group-item-action text-white bg-primary" id="list-messages-list"
           data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">What are the payment
          methods ?</a>
        <a class="list-group-item list-group-item-action text-white bg-primary" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Can I be banned for Boosting ?</a>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-content text-primary" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel"
             aria-labelledby="list-home-list">First you need to create an account, then you link you League
          account to your BoostMe account, you can finally select the offer that fit your needs. From there, one
          of our boosters will take your account and fulfill your order.
        </div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">We are
          a professional service and only work with the best. In case you need to be sure, you can still change
          your password before giving us your account. When the boosting is done, you can then change it back.
          Our boosters won't be able to change it since it would require access to your email, which we do not
          have.</div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">At
          the moment we are only taking payment by credit card, working with Stripe.</div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">There
          is always a chance that this may happen, here at BoostMe we try our best to minimize the chances of
          your account getting banned but ultimately, we are not at fault if your account does get banned for Boosting.</div>
      </div>
    </div>
  </div>
</div>

