<div class="">
  <div class="container d-flex align-items-center justify-content-center faq">
    <div class="row h-50 w-100 m-5 p-5 bg-primary rounded-sm shadow-sm text-white">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
          <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum eveniet ipsam laboriosam officia vitae? Accusamus debitis est fugiat harum id libero maiores minus natus odio, odit officiis quo repudiandae sunt.</div>
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, animi atque consequatur debitis delectus dignissimos dolor ducimus ex explicabo, inventore nemo officiis, pariatur quaerat qui saepe sequi sunt temporibus ut.</div>
          <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid autem dolores eaque eos, eveniet illum impedit laborum magnam modi odio officia optio, perspiciatis placeat praesentium rerum sequi ut vero?</div>
          <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aliquid atque consectetur dignissimos distinctio dolor dolore est ipsam ipsum laudantium libero quae quas, rem sunt tempora ullam unde voluptate.</div>
        </div>
      </div>
    </div>
  </div>
</div>
