<div class="bg-primary">
  <!-- jumbotron -->
  <section id="jumbotron">
    <div class="jumbotron d-flex flex-column justify-content-center">
      <div class="text-center">
        <h1 class="font-weight-bold text-white display-2">Boost Me</h1>
        <p class="lead text-white font-weight-bold">Get out of EloHell and start truly enjoying League of Legends</p>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <a href="<%= new_boost_path %>" class="mr-3 btn btn-warning rounded font-weight-bold" type="button">PRICING</a>
        <a href="<%= current_user ? new_boost_path : new_user_session_path %>" class="ml-3 btn btn-info rounded
        font-weight-bold"
           type="button">BOOST ME !</a>
      </div>
    </div>
  </section>
  <!-- testimony -->
  <section class=" bg-primary pt-5 pb-5">
    <div class="container">
      <h2 class="text-white">Testimonials</h2>
      <div class="mt-5">
        <p class="text-white">BoostMe is the best eloboosting plateform I have ever experienced !</p>
        <p>Some random dude</p>
      </div>
      <div class="mt-5">
        <p class="text-white">Thanks to BoostMe I got to Master so easily !</p>
        <p>Some boosted iron</p>
      </div>
    </div>
  </section>
</div>
<!-- What is BoostMe -->
<section class="pt-5 pb-5 d-flex align-items-center">
  <div class="container text-right">
    <h1>What's BoostMe</h1>
    <p class="mt-5">BoostMe is an EloBoosting platform for League of Legend. Our job is to upgrade your gaming
      experience by giving access to the higher elo of League, for a reasonable price.<br>
      Why bother playing a video game without enjoying completely the gaming experience ?</p>
  </div>
</section>
<!-- How it works -->
<section class="bg-primary pt-5 pb-5">
  <div class="container">
    <h2 class="text-white">How does it work ?</h2>
    <div class="mt-5">
        <h4 class="text-white">First</h4>
        <p class="text-white">You create a BoostMe account and you link it to your League accounts, you can
          add multiple accounts.</p>
        <h4 class="text-white">Then</h4>
        <p class="text-white">You personalize your boosting objectives.</p>
        <h4 class="text-white">Finally</h4>
        <p class="text-white">You enjoy.</p>
    </div>
  </div>
</section>
<!-- Call to action -->
<section class="pb-5 text-center bg-dark">
    <h1 class="text-center pt-5 text-white">Start Now !</h1>
    <div class="d-flex justify-content-center align-items-center">
      <a href="<%= current_user ? new_boost_path : new_user_session_path %>"
         class=" cta text-white ml-3 btn btn-info rounded font-weight-bold"
         type="button">BOOST ME !</a>
    </div>
</section>
