<!-- jumbotron -->
<section style="height: 500px;"id="jumbotron">
  <div class="jumbotron d-flex flex-column justify-content-center">
        <div class="text-center">
          <h1 class="font-weight-bold text-white display-2">Boost Me</h1>
          <p class="lead text-white font-weight-bold">The most professionnal League of legends Elo Boosting Service.</p>
        </div>
        <div class="d-flex justify-content-center mt-5">
          <button class="mr-3 rounded font-weight-bold" type="button" style="width: 200px; height: 75px;" id="boostme-btn">BOOST ME !</button>
          <button class="ml-3 rounded font-weight-bold" type="button" style="width: 200px; height: 75px;" id="pricing-btn">PRICING</button>
        </div>
      </div>
</section>
<!-- testimony -->
<section class=" bg-primary pt-5 pb-5">
  <div class="container">
    <h2 class="text-white">Testimonials</h2>
    <div class="mt-5">
      <p class="text-white">BoostMe is the best eloboosting plateform I have ever experienced !</p>
      <p>Some random dude</p>
    </div>
    <div class="mt-5">
      <p class="text-white">Thanks to BoostMe i got to Master so easily !</p>
      <p>Some boosted fag</p>
    </div>
  </div>
</section>
<!-- What is BoostMe -->
<section class="pt-5 pb-5">
  <div class="container">
    <h1>What's BoostMe</h1>
    <p class="mt-5">BoostMe is a eloboosting plateform for League of Legend. Our job is to upgrade your gaming
      experience by giving acces to the higher elo of League, for a reasonnable price.<br>
    Why playing a video game without enjoying completely the gaming experience ?</p>
  </div>
</section>
<section class=" bg-primary pt-5 pb-5">
  <div class="container">
    <h2 class="text-white">How does it works ?</h2>
    <div class="d-flex">
        <p class="mr-5">First you create a BoostMe account and you link it to your League account.</p>
        <p class="">Then you personalize your boosting objective.</p>
        <p class="ml-5">Finaly, profit.</p>
    </div>
  </div>
</section>
