<% if resource.errors.any? %>
  <div class="bg-warning rounded-lg shadow-sm text-white mb-5">
    <div id="error_explanation">
      <ul class="p-3 m-3">
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
