// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#jumbotron,.jumbotron {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), image-url("Kassadin_5.jpg");
  background-position: top;
  background-size: cover;
  background-attachment: scroll;
  height: 65vh;
  clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
}

section {
  min-height: 35vh;
}

.cta {
  transform: scale(1.5);
}

section:nth-child(4) div{
  height: 25vh;
}

section.bg-dark {
  border-top: 1px solid var(--gray-dark);
  border-bottom: 1px solid var(--gray-dark);
}