<div class="log p-5 d-flex align-items-center justify-content-center">

  <div class="container bg-primary p-5 rounded-lg shadow-lg">
    <h2 class="text-white text-center mt-3">Boost </h2>

    <div class="col-8 offset-2 mt-3">

      <div class="text-white mt-3">
        <p class="font-weight-bold">Account's informations :</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-primary">Boostme account (email) : #</li>
          <li class="list-group-item bg-primary">Username : #</li>
          <li class="list-group-item bg-primary">Password : #</li>
          <li class="list-group-item bg-primary">Server : #</li>
        </ul>
      </div>

      <div class="text-white mt-3">
        <p class="font-weight-bold">Boost's informations :</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-primary">Queue : #</li>
          <li class="list-group-item bg-primary">Current rank : #</li>
          <li class="list-group-item bg-primary">Desired rank : #</li>
          <li class="list-group-item bg-primary">Price : #</li>

        </ul>
      </div>

      <div class="actions">
        <button type="button" name="button" class="btn btn-info rounded-sm btn-block mt-3">Return to the User profile</button>
      </div>

    </div>
  </div>
</div>
