<div class="log p-5 d-flex align-items-center justify-content-center">

  <div class="container bg-primary p-5 rounded-lg shadow-lg">
    <h2 class="text-white text-center mt-3">Admin Dashboard</h2>
    <div class="row text-white mt-5">
        <table class="table table-dark table-hover">
          <thead>
            <th scope="col">id</th>
            <th scope="col">Email</th>
            <th scope="col">password</th>
            <th scope="col">role</th>
            <th scope="col">currently on boost / currently boosting</th>
          </thead>
          <tbody>
            <tr>
              <td>#</td>
              <td>#</td>
              <td>#</td>
              <td>#</td>
              <td>#</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
